In [11]:
import pandas as pd
import re

In [2]:
data_path = '/content/drive/MyDrive/프로젝트/뉴스 토픽/'

en = pd.read_csv(data_path + 'en_news_with_health.csv')
ko = pd.read_csv(data_path + 'train_data.csv')

In [3]:
en.head()

   topic_idx                                              title
0          0  A closer look at water-splitting's solar fuel ...
1          0  An irresistible scent makes locusts swarm, stu...
2          0  Artificial intelligence warning: AI will know ...
3          0   Glaciers Could Have Sculpted Mars Valleys: Study
4          0  Perseid meteor shower 2020: What time and how ...

In [7]:
ko.drop(['index'], axis = 1, inplace = True)
ko.head()

                              title  topic_idx
0          인천→핀란드 항공기 결항…휴가철 여행객 분통          4
1    실리콘밸리 넘어서겠다…구글 15조원 들여 美전역 거점화          4
2    이란 외무 긴장완화 해결책은 미국이 경제전쟁 멈추는 것          4
3  NYT 클린턴 측근韓기업 특수관계 조명…공과 사 맞물려종합          4
4         시진핑 트럼프에 중미 무역협상 조속 타결 희망          4

In [8]:
en_sample = en.sample(100)
ko_sample = ko.sample(100)

In [9]:
en_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 53458 to 49465
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   topic_idx  100 non-null    int64
 1   title      100 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB

In [10]:
ko_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 31403 to 27208
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      100 non-null    object
 1   topic_idx  100 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.3+ KB

In [12]:
df = pd.concat([en_sample, ko_sample], axis = 0)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 53458 to 27208
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   topic_idx  200 non-null    int64
 1   title      200 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.7+ KB

In [31]:
def ko_en(text):
  text = re.sub('\\\\n', ' ', text)
  text = re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z]', ' ', text)
  text = re.sub('[\s]+', '', text)
  text = text.lower()

  for txt in text.split():
    cnt_en, cnt_ko = 0, 0
    for i in txt:
      for j in i:
        if ord('ㄱ') <= ord(j) <= ord('힣'):
          cnt_ko += 1
        elif ord('a') <= ord(j) <= ord('z'):
          cnt_en += 1

  if len(text):
    if (cnt_ko / len(text)) >= 0.2:
      return 'Korean'
    else:
      return 'English'

In [32]:
print(ko_en('한글일까요? english?'))

Korean

In [33]:
df['lang'] = df['title'].apply(ko_en)

In [37]:
df.groupby('lang').count()

         topic_idx  title
lang
English        100    100
Korean         100    100